.App {
  text-align: center;
}


.ship-container {
  width: 250px;
  height: 100px;
  background-color:rgb(52, 65, 60);
  text-align: center;
  padding-top: 50px;
  color: white;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* margin: auto;
  width: 50%; */
}